.content-container {
    padding-top: 20px;
    padding-left: 170px;
}

/*Sidebar-Complete*/
.sidebar {
    position: fixed;
    width: 160px;
    height: 100%;
    left: 0;
    overflow-y:auto;
    background: #F3663B;
    color: #fff;
    /*-webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.21);
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.21);*/
}

.sidebar-logo {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

/*.sidebar-icons {
    max-width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

.sidebar-icons {
    max-width: 24px;
}

.sidebar-content {
    text-align: left;
}

.sidebar-content div {
    padding-top: 10px;
}

.sidebar-content div a, span {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.list-group-item {
    background-color: #F3663B;
    border: none;
}

    .list-group-item span {
        padding-left: 10px;
        padding-right: 3px;
    }

    .list-group-item:hover {
        background-color: rgba(255,255,255,0.1);
    }

.dropdown-item {
    padding: 0;
    margin: 0;
    text-align: center;
}

    .dropdown-item span {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 13px;
    }

@media screen and (max-width:600px) {
    .sidebar {
        display: none;
    }
    .content-container{
        padding-left: 10px;
    }
}

/*Sidebar-Mini*/
.Sidebar-mini {
    position: fixed;
    width: 160px;
    height: 100%;
    left: 0;
    overflow-y: auto;
    background: #000;
    color: #fff;
}

.sidebar-icons-mini {
    max-width: 40px;
}