.sidebar {
    position: fixed;
    width: 130px;
    height: 100%;
    left: 0;
    overflow-y: auto;
    background: #F3663B;
    color: #fff;
    -webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.21);
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.21);
}

.sidebar-logo {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.sidebar-icons {
    max-width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-content {
    text-align: center;
}

.sidebar-content div {
    padding-top: 30px;

}

.sidebar-content div a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
}

.content-container {
    padding-top: 20px;
    padding-left: 130px;
}

@media screen and (max-width:600px){
    .sidebar {
        display: none;
    }
    .content-container{
        padding-left: 0;
    }
}

@media screen and (min-width:600px) {
    .bar-responsive {
        display: none;
    }
}

.dropdown-content{
    display: none;
    background-color: transparent;
    width: auto;
    height: auto;
    margin-top: -10px;
}

.dropdown-content a{
    margin-bottom: 3px;
    padding: 5px;
}