.btnclose {
    border: none;
    background-color: transparent;
    font-size: 13.5px;
}

    .btnclose:hover {
        cursor: pointer;
    }

.btnCollapse {
    border: none;
    background-color: transparent;
}

    .btnCollapse:hover {
        cursor: pointer;
    }

.tag-card {
    height: 45px;
    margin-top: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
}