@{
    ViewData["Title"] = "Quem Somos";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!--Css-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/general.css" />
    <link rel="stylesheet" href="~/css/ViewHomeIndex.css" />
    <link rel="stylesheet" href="~/css/sideBar.css" />
    <link rel="stylesheet" href="~/css/styleExtra.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body>
    <div class="background">
        <nav class="navbar navbar-expand-lg navbar-light">
            <img src="~/images/Logo_Reduzida_Branca.png" class="navbar-brand img-responsive" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#start">O QUE É ODISSEIA?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#doing">O QUE FAZEMOS?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Login" asp-controller="Usuario">LOGIN</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content">
            <h4>Bem Vindo à</h4>
            <hr />
            <h1>ODISSEIA</h1>
            <hr />
        </div>
        <a href="#start"><img src="~/images/icon_DownArrow.png" class="img-responsive" /></a>
    </div>

    <div class="container mb-20">
        <div class="row">
            <div class="col-md-12" id="start">
                <div class="row mt-50">
                    <div class="col-md-12 text-center">
                        <h4>O QUE É ODISSEIA?</h4>
                        <p>
                            Odisséia é uma nova forma de fazer com que você, professor, domine os pontos fortes e fracos de seus alunos, acompanhando todo seu desempenho de perto,
                            de forma prática e rápida. E, de uma forma gamificada, fazer com que o estudante tenha mais interesse e envolvimentos com as atividades e conteúdos passados em sala.
                            Nossa plataforma consegue auxiliar o professor a trabalhar melhor sabendo das dificuldades de cada aluno e auxiliar os alunos de forma divertida, a
                            movimentarem suas dificuldades, tendo melhor desempenho em sala de aula.
                        </p>
                    </div>
                </div>
                <div id="doing"></div>
                <div class="row text-center mt-50">
                    <div class="col-md-12">
                        <h4>O QUE FAZEMOS?</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="~/images/icon_game.png" class="img-responsive icon mb-20" />
                        <p>
                            Com uma metodologia gamificada fazemos com que os alunos se sintam mais à vontade com um ambiente de jogos, o qual muitos estão familiarizados. Aumentando também, a competitividade entre eles. 
                            Chamamos isso de "Jornada do Herói", que a cada obstáculo vencido, seu personagem vem se tornando mais forte e pronto para batalhas mais difíceis.
                        </p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="~/images/icon_scroll_LandingPage.png" class="img-responsive icon mb-20" />
                        <p>
                            A medida que o professor lança suas atividades em nossa plataforma para os alunos resolverem, ele terá acesso a dados e recursos que disponibilizam a visualização do desempenho
                            detalhado de cada turma e aluno em específico. Sem contar uma página inteiramente dedicada à notificações sobre o andamento dos mesmos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer">
        <hr />
        <div class="container-fluid text-center text-md-left">
            <div class="row text-center">
                <div class="col-md-12">

                </div>
                <div class="col-md-4 pt-4">
                    <h5><u>CONTATOS</u></h5>
                    <ul class="list-unstyled mt-4">
                        <li>
                            <i class="fas fa-envelope"></i>
                            <label>odisseiastartup@gmail.com</label>
                        </li>
                        <li>
                            <i class="fas fa-phone"></i>
                            <label>(31) 98400-3491</label>
                        </li>
                        <li>
                            <i class="fas fa-phone"></i>
                            <label>(31) 99395-3072</label>
                        </li>
                        <li>
                            <i class="fab fa-instagram"></i>
                            <label>theodisseia</label>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 pt-4">
                    <img src="~/images/Logo_Completa_Branca2.png" class="img-responsive" />
                </div>
                <div class="col-md-4 pt-4">
                    <h5><u>PARCEIROS</u></h5>
                    <ul class="list-unstyled mt-4">
                        <li>
                            <a href="https://www.youtube.com/channel/UCPJKhdHCtO52vr5LIFOKcsQ" target="_blank">
                                <label style="cursor: pointer;"><i class="fab fa-youtube"></i>Professor Clebinho</label>
                            </a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            @*© 2019 Odisseia -
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>*@
        </div>
    </footer>

</body>
</html>