<style>
    .cursor-h:hover {
        cursor: pointer;
    }
</style>

<h2>Relatório Básico das turmas</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="turmas">Selecione uma turma:</label>
                <select class="form-control" id="turmas">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-success">
                <div>
                    <h4>Porcentagem de acertos:</h4>
                    <h2 class="m-0">0%</h2>
                </div>
                <div class="mt-10">
                    <p>Número de questões acertadas: <b>0</b></p>
                </div>
            </div>
            <div class="card card-danger">
                <div>
                    <h4>Porcentagem de erros:</h4>
                    <h2 class="m-0">0%</h2>
                </div>
                <div class="mt-10">
                    <p>Número de questões erradas: <b>0</b></p>
                </div>
            </div>
        </div>
    </div>
</div>