<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <!-- JS -->
        <script src="~/js/general.js"></script>
        <script src="~/js/sideBar.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/general.css" />
        <link rel="stylesheet" href="~/css/sideBar.css" />
        <link rel="stylesheet" href="~/css/styleExtra.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300&display=swap" rel="stylesheet">
    </environment>

</head>
<body>

    @{ if (TempData["message"] != null)
        {
            <div id="messageCard" class="alert alert-@TempData["status"].ToString() d-flex justify-content-between fixed-top position-absolute ml-5 mr-5" role="alert">
                <label>@TempData["message"].ToString()</label>
                <span class="cursor-h" onclick="remove(messageCard);">&times;</span>
            </div>
        }
    }

    <div class="sidebar" id="sidebar">
        <div class="sidebar-logo">
            <img src="~/images/Logo_Reduzida_Branca.png" class="img-fluid" />
        </div>
        <div class="sidebar-content">
            <div class="list-group">
                <div>
                    <a asp-action="Index" asp-controller="Relatorio" class="list-group-item">
                        <img src="~/images/icon_relatorio_white.png" class="img-fluid sidebar-icons" />
                        <span>HOME</span>
                    </a>
                </div>

                <div>
                    <a href="#missao" class="list-group-item" data-toggle="collapse" aria-expanded="false">
                        <img src="~/images/icon_missoes_white.png" class="img-fluid sidebar-icons" />
                        <span>MISSÃO</span>
                        <i class="fas fa-caret-down"></i>
                    </a>

                    <div class="collapse " id="missao" data-parent="#missao">
                        <a asp-action="Create" asp-controller="Missao" class="list-group-item dropdown-item">
                            <span>Cadastro Missão</span>
                        </a>
                        <a asp-action="Index" asp-controller="Missao" class="list-group-item dropdown-item">
                            <span>Lançar Missão</span>
                        </a>
                    </div>
                </div>

                <div>
                    <a asp-action="Index" asp-controller="Relatorio" class="list-group-item">
                        <img src="~/images/icon_relatorio_white.png" class="img-fluid sidebar-icons" />
                        <span>RELATÓRIO</span>
                    </a>
                </div>

                <div>
                    <a asp-action="Logout" asp-controller="Usuario" class="list-group-item">
                        <img src="~/images/icon_logout_white.png" class="img-fluid sidebar-icons" />
                        <span>LOGOUT</span>
                    </a>
                </div>
            </div>
            @*<div>
                    <a asp-action="Index" asp-controller="Relatorio">
                        <img src="~/images/icon_relatorio_white.png" class="img-fluid sidebar-icons" />
                        HOME
                    </a>
                </div>
                <div>
                    <a class="cursor-h" onclick="Dropdown()">
                        <img src="~/images/icon_missoes_white.png" class="img-fluid sidebar-icons" />
                        MISSÃO
                    </a>
                </div>
                <div class="dropdown-content" id="dropdown-content">
                    <a asp-action="Create" asp-controller="Missao">Cadastro Missão</a>
                    <a asp-action="Index" asp-controller="Missao">Lançar Missão</a>
                </div>
                <div>
                    <a asp-action="Index" asp-controller="Relatorio">
                        <img src="~/images/icon_relatorio_white.png" class="img-fluid sidebar-icons" />
                        RELATÓRIO
                    </a>
                </div>
                <div>
                    <a asp-action="Logout" asp-controller="Usuario">
                        <img src="~/images/icon_logout_white.png" class="img-fluid sidebar-icons" />
                        LOGOUT
                    </a>
                </div>*@
        </div>
    </div>

    <div class="content-container">
        <div class="container-fluid">
            <div class="scroll">
                <div class="row">
                    <div class="col-md">
                        <i class="fas fa-align-left"></i>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>

    <environment include="Development,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)


</body>
</html>