@model IList<Models.Relatorio.BasicReportClassDTO>
@using Utils;

<link rel="stylesheet" href="~/css/ViewRelatorioTurma.css" />
<script type="text/javascript" src="~/js/ViewRelatorioTurma.js"></script>
<script type="text/javascript" src="~/js/ViewRelatorioTurma/FlowController.js"></script>
<script type="text/javascript" src="~/js/HTTPDAL.js"></script>

<div class="row">
    <div class="col-md">
        <h4 class="mb-20"><u>RELATÓRIO DE MISSÃO POR TURMA</u></h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @*<h6>TURMA: 3C1</h6>*@
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">MISSÃO</th>
                                <th scope="col">MÉDIA DE ACERTOS</th>
                                <th scope="col">MÉDIA DE ERROS</th>
                                <th scope="col">TEMPO MÉDIO GASTO</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Models.Relatorio.BasicReportClassDTO report in Model)
                            {
                            <tr>
                                <td>@report.Title</td>
                                <td>@DateUtils.FormatPercentage(report.RightAverage)</td>
                                <td>@DateUtils.FormatPercentage(report.WrongAverage)</td>
                                <td>@DateUtils.FormatTimeSpan(report.TimeAverage)</td>
                                <td>
                                    <div>
                                        @{
                                            var parm = new Dictionary<string, string> { { "questId", report.Id.ToString() } };
                                        }
                                        <a asp-action="StudentsReports" asp-controller="Relatorio" asp-all-route-data="parm">
                                            <button type="submit" class="btn laranja_back white">VER RESULTADO POR ALUNO</button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
