@model OdisseiaWeb.Models.Missao

<h4>Missao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fkMateria" class="control-label"></label>
                <input asp-for="fkMateria" class="form-control" />
                <span asp-validation-for="fkMateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fkCriador" class="control-label"></label>
                <input asp-for="fkCriador" class="form-control" />
                <span asp-validation-for="fkCriador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataCriacao" class="control-label"></label>
                <input asp-for="dataCriacao" class="form-control" />
                <span asp-validation-for="dataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataPrazo" class="control-label"></label>
                <input asp-for="dataPrazo" class="form-control" />
                <span asp-validation-for="dataPrazo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="lancada" /> @Html.DisplayNameFor(model => model.lancada)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="excluido" /> @Html.DisplayNameFor(model => model.excluido)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
