@model IEnumerable<OdisseiaWeb.Models.Alternativa>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tblAlternativas">

        @foreach (OdisseiaWeb.Models.Alternativa alternativa in Model)
        {
            <form action="post" id="frmAlternativa">
                <tr>

                    <input type="hidden" name="@{Html.DisplayText($"altHdd{alternativa.Id}");}" value="@alternativa.Id">

                    <td>
                        <input type="radio" name="alternariva">
                    </td>

                    <td>
                        <input type="text" id="@{Html.DisplayText($"altTxt{alternativa.Id}");}" name="@{Html.DisplayText($"altTxt{alternativa.Id}");}" class="form-control w-100" value="@alternativa.Texto">
                    </td>

                    <td>
                        <button asp-action="Delete" asp-controller="Alternativa" class="btn btn-danger" type="submit">X</button>
                    </td>
                </tr>
            </form>
        }

    </tbody>
</table>

<button asp-action="Create" asp-controller="Alternativa" class="btn btn-success">Adicionar alternativa</button>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
