@model IEnumerable<OdisseiaWeb.Models.Alternativa>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tblAlternativas">

        @foreach (OdisseiaWeb.Models.Alternativa alternativa in Model)
        {
            <tr>  
                <form action="post" class="frmAlternativa" asp-action="Edit" asp-controller="Alternativa">

                    <input type="hidden" name="altFkQuestao" value="@alternativa.FkQuestao">
                    <input type="hidden" name="altId" value="@alternativa.Id">

                    <td>
                        <input type="radio" name="altCorreto">
                    </td>

                    <td>
                        <input type="text" id="altTxt" name="altTexto" class="form-control w-100" value="@alternativa.Texto">
                    </td>

                    <td>
                        <button asp-action="Delete" asp-controller="Alternativa" class="btn btn-danger" type="submit">X</button>
                    </td>
                </form>
            </tr>
        }

    </tbody>
</table>

<button asp-action="Create" asp-controller="Alternativa" class="btn btn-success">Adicionar alternativa</button>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
