@model Models.Missao.MissaoCreateDTO

<style>
    .cursor-h:hover {
        cursor: pointer;
    }
</style>

<h4>Cadastro Missao</h4>
<hr />
<div class="row container">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Missao">
            <div class="form-group">
                <label for="MissaoTitulo" class="control-label">Título:</label>
                <input name="MissaoTitulo" class="form-control" />
            </div>
            <div class="form-group">
                <label for="MissaoDescricao" class="control-label">Descrição:</label>
                <input name="MissaoDescricao" class="form-control" />
            </div>
            <div class="form-group">
                <label for="MissaoMateria" class="control-label">Matéria:</label>
                <input name="MissaoMateria" class="form-control" />
            </div>
            <div>
                <label class="control-label">Questões</label><br>
                <label id="btnAddQuestao" class="cursor-h btn btn-success" onclick="addQuestao()">Add Questão</label>
                <table class="table table-hover">
                    <tbody id="tblQuestoes"></tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a action="Index">Back to List</a>
</div>

<script type="text/javascript">

    var idQ = 1
    var idA = 1

    function addQuestao() {
        var result = '\n\
        <tr>\n\
            <td>\n\
                <label class="cursor-h" id="toggleQuestao'+ idQ + '" onclick="toggleId(frmQuestao' + idQ + ')">Questão ' + idQ + '</label>\n\
                <div id="frmQuestao'+ idQ + '" class="container">\n\
                    <div class="form-group">\n\
                        <label for="'+ idQ + 'QuestaoDificuldade" class="control-label">Dificuldade:</label>\n\
                        <input type="range" name="'+ idQ + 'QuestaoDificuldade" class="form-control" min="0" max="5"/>\n\
                    </div>\n\
                    <div class="form-group">\n\
                        <label for="'+ idQ + 'QuestaoEnunciado" class="control-label">Enunciado:</label>\n\
                        <textarea name="'+ idQ + 'QuestaoEnunciado" class="form-control" rows="5" style="resize: none;">\n\
                        </textarea>\n\
                    </div>\n\
                    <div class="form-group">\n\
                        <label class="control-label">Alternativas</label><br>\n\
                        <label class="btn btn-success cursor-h" onclick="addAlternativa('+ idQ + ')">Add Questão</label>\n\
                        <table class="table table-hover">\n\
                            <tbody id="tblQuestao'+ idQ + 'Alternativa">\n\
                            </tbody>\n\
                        </table>\n\
                    </div>\n\
                </div>\n\
            </td>\n\
        </tr>';


        document.getElementById("tblQuestoes").insertAdjacentHTML("beforeend", result);
        idQ++;
    }

    function addAlternativa(id) {
        var result = '\n\
        <tr>\n\
            <input type="hidden" name="'+ idA + 'Questao' + id + 'AlternativaCorreto" id="' + idA + 'Questao' + id + 'AlternativaCorreto" value="false">\n\
            <td><input style="width: 5vh;" type="checkbox" class="form-control" onclick="checkIt('+ idA + ',' + id + ')"></td>\n\
            <td><input type="text" class="form-control" name="'+ idA + 'Questao' + id + 'AlternativaTexto"></td>\n\
        </tr>';

        document.getElementById("tblQuestao" + id + "Alternativa").insertAdjacentHTML("beforeend", result);
        idA++;
    }

    function toggleId(id) {
        $(id).toggle();
    }

    function checkIt(idA, idQ) {
        var id = idA + 'Questao' + idQ + 'AlternativaCorreto';
        var item = document.getElementById(id);
        if (item.value == "true") {
            item.value = "false";
        } else {
            item.value = "true";
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
