@model IList<Models.Materia.MateriaListarDTO>

<script type="text/javascript" src="~/js/ViewMissaoCreateControllers/FormController.js"></script>
<script type="text/javascript" src="~/js/ViewMissaoCreateControllers/CardQuestao.js"></script>
<link rel="stylesheet" href="~/css/ViewMissaoCreate.css" />

<style>
    .cursor-h:hover {
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col-md">
        <h4 class="mb-20"><u>CRIAR MISSÃO</u></h4>
    </div>
</div>

<form asp-action="Create" asp-controller="Missao">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="MissaoTitulo" class="control-label">TÍTULO:</label>
                <input name="MissaoTitulo" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="MissaoDescricao" class="control-label">DESCRIÇÃO:</label>
                <input name="MissaoDescricao" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="MissaoMateria" class="control-label">MATÉRIA:</label>
                <select name="MissaoMateria" class="form-control" required>
                    @foreach (Models.Materia.MateriaListarDTO materia in Model)
                    {
                        <option value="@materia.id">@materia.nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">QUESTÕES:</label><br>
                <label id="btnAddQuestao" class="cursor-h btn laranja_back white" onclick="addQuestao()" style="width:50%;">ADICIONAR QUESTAO</label>
            </div>
            <div class="form-group">
                <label class="control-label">FINALIZAR</label><br />
                <input type="submit" value="CRIAR MISSÃO" class="btn laranja_back white" style="width:100%;" />
            </div>
        </div>
        <div class="col-md-8">
            <!-- Card Questão -->
            <table class="table table-borderless">
                <tbody id="tblQuestoes"></tbody>
            </table>
        </div>
    </div>
</form>

<table hidden id="QuestaoCard">
    <tr>
        <td>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md">
                            <label id="toggleQuestao_Id_" onclick="toggleId(frmQuestao_Id_)" style="text-align:left;"><u>QUESTÃO _Id_</u></label>
                            <img src="~/images/icon_maximize.png" data-toggle="collapse" data-target="#contentCard_Id_" style="float: right;" />
                        </div>
                    </div>
                    <div class="row collapse text-left" id="contentCard_Id_">
                        <div class="col-md-8">
                            <!--Enunciado-->
                            <div class="form-group">
                                <label for="_Id_QuestaoEnunciado" class="control-label">ENUNCIADO:</label>
                                <textarea name="_Id_QuestaoEnunciado" class="form-control" rows="3" style="resize: none;" required></textarea>
                            </div>
                            <!--Alternativas-->
                            <div class="form-group">
                                <label class="btn laranja_back white cursor-h" onclick="addAlternativa(_Id_)">ADICIONAR ALTERNATIVA</label>
                                <table class="table table-borderless">
                                    <tbody id="tblQuestao_Id_Alternativa"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!--Dificuldade-->
                            <div class="form-group">
                                <label for="_Id_QuestaoDificuldade" class="control-label">DIFICULDADE:</label>
                                <select class="form-control" name="_Id_QuestaoDificuldade">
                                    <option value="1">FÁCIL</option>
                                    <option value="2">MÉDIO</option>
                                    <option value="3">DIFÍCIO</option>
                                </select>
                            </div>
                            <!--Tags-->
                            <button type="button" class="btn laranja_back white" data-toggle="modal" data-target="#TagModal" onclick="setTag(_Id_)">
                                ADICIONAR TAG
                            </button>
                            <div class="row">
                                <div class="col" id="tblQuestao_Id_Tag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

<!-- Tag Modal -->
<div class="modal fade" id="TagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <input id="TagQuestaoId" type="number" hidden required />
                <div class="form-group">
                    <label for="TagNome" class="control-label">NOME:</label>
                    <input type="text" id="TagNome" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="TagColor" class="control-label">COR DA TAG:</label>
                    <input class="form-control" type="color" id="TagColor" required />
                </div>
                <div class="form-group text-right" style="margin: 0;">
                    <button type="button" class="btn cinza_back white" data-dismiss="modal">FECHAR</button>
                    <button type="button" class="btn laranja_back white" data-dismiss="modal" onclick="addTag()">ADICIONAR</button>
                </div>
            </div>
        </div>
    </div>
</div>

<table hidden id="AlternativaCard">
    <tr>
        <td>
            <div class="row">
                <input type="hidden" name="_Id_Questao_Id1_AlternativaCorreto" id="_Id_Questao_Id1_AlternativaCorreto" value="false">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <input style="width: 7vh; margin-right:3px;" type="checkbox" class="form-control" onclick="alternativaCheckIt(_Id_,_Id1_)">
                    </div>
                    <input type="text" class="form-control" name="_Id_Questao_Id1_AlternativaTexto" required>
                </div>
            </div>
        </td>
    </tr>
</table>

<ul hidden id="TagCard">
    <li class="list-group-item cursor-h" onclick="selectTag(_Id_,_Id1_)">_Name_</li>
</ul>

<div hidden id="TagBoxCard">
    <div class="card">
        <ul class="list-group list-group-flush" id="_Id_Questao_Id1_TagBoxCard">
            <li class="list-group-item" style="background-color:_Color_;">
                <label style="color: white;">_Name_</label>
                <button type="button" class="close" aria-label="Uncheck" onclick="removeTag(this)">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div hidden>
                    <input type="text" value="_Name_" name="_Id_Questao_Id1_TagNome" />
                    <input type="text" value="_Color_" name="_Id_Questao_Id1_TagColor" />
                </div>
            </li>
            <input type="checkbox" id="_Id_Questao_Id1_Tag" hidden checked>
        </ul>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
