@model IList<Models.Materia.MateriaListarDTO>

<script type="text/javascript" src="~/js/ViewMissaoCreateController.js"></script>

<style>
    .cursor-h:hover {
        cursor: pointer;
    }
</style>

<h2>Cadastro Missao</h2>
<hr />
<div class="row container">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Missao">
            <div class="form-group">
                <label for="MissaoTitulo" class="control-label">Título:</label>
                <input name="MissaoTitulo" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="MissaoDescricao" class="control-label">Descrição:</label>
                <input name="MissaoDescricao" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="MissaoMateria" class="control-label">Matéria:</label>
                <select name="MissaoMateria" class="form-control" required>
                    @foreach (Models.Materia.MateriaListarDTO materia in Model)
                    {
                        <option value="@materia.id">@materia.nome</option>
                    }
                </select>
            </div>
            <div>
                <label class="control-label">Questões</label><br>
                <label id="btnAddQuestao" class="cursor-h btn btn-info" onclick="addQuestao()">Add Questão</label>
                <table class="table table-hover">
                    <tbody id="tblQuestoes"></tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<table hidden id="QuestaoCard">
    <tr>
        <td>
            <label class="cursor-h" id="toggleQuestao_Id_" onclick="toggleId(frmQuestao_Id_)">Questão_Id_</label>
            <div id="frmQuestao_Id_" class="container">

                <div class="form-group">
                    <label for="_Id_QuestaoDificuldade" class="control-label">Dificuldade:</label>
                    <input type="range" name="_Id_QuestaoDificuldade" class="form-control" min="0" max="5" />
                </div>

                <div class="card">
                    <ul class="list-group list-group-flush" >
                        <li class="list-group-item"><input type="text" class="form-control" onfocusout="cleanTags(_Id_)" onfocus="searchTags(_Id_)" onkeyup="searchTags(_Id_)" id="_Id_TagComboBox"/></li>
                        <span id="_Id_TagComboBoxList" style="position: absolute">
                        </span>
                    </ul>
                </div>

                <div id="_Id_Tags">

                </div>

                <div class="form-group">

                    <label for="_Id_QuestaoEnunciado" class="control-label">Enunciado:</label>
                    <textarea name="_Id_QuestaoEnunciado" class="form-control" rows="5" style="resize: none;" required>
                        </textarea>
                </div>

                <div class="form-group">

                    <label class="control-label">Alternativas</label><br>
                    <label class="btn btn-info cursor-h" onclick="addAlternativa(_Id_)">Add Alternativa</label>
                    <table class="table table-hover">

                        <tbody id="tblQuestao_Id_Alternativa"></tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>

<table hidden id="AlternativaCard">
    <tr>
        <input type="hidden" name="_Id_Questao_Id1_AlternativaCorreto" id="_Id_Questao_Id1_AlternativaCorreto" value="false">
        <td><input style="width: 5vh;" type="checkbox" class="form-control" onclick="alternativaCheckIt(_Id_,_Id1_)"></td>
        <td><input type="text" class="form-control" name="_Id_Questao_Id1_AlternativaTexto" required></td>
    </tr>
</table>

<ul hidden id="TagCard">
    <li class="list-group-item cursor-h" onclick="selectTag(_Id_,_Id1_)">_Name_</li>
</ul>

<label hidden id="TagBoxCard">
    _Name_
</label>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
