<!DOCTYPE html>
<html lang="en">
<head>
    <title>Missão</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    -->
</head>
<body>

    <div class="container">
        <h2>Missões</h2>
        <p>Pesquisar por palavras:</p>
        <input class="form-control" id="txtPesquisa" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Matéria</th>
                    <th>Título</th>
                    <th>Prazo</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tblMissoes">
                <tr>
                    <td>[Matéria]</td>
                    <td>[Título]</td>
                    <td>dd/MM/yyyy</td>
                    <td><input type="button" id="missão1" class="btnStatus btn" data-toggle="modal" data-target="#modalVerificar"></td>
                    <td><button class="btn btn-info">Editar</button></td>
                </tr>
                <tr>
                    <td>[Matéria]</td>
                    <td>[Título]</td>
                    <td>dd/MM/yyyy</td>
                    <td><input type="button" id="missão2" class="btnStatus btn" data-toggle="modal" data-target="#modalVerificar"></td>
                    <td><button class="btn btn-info">Editar</button></td>
                </tr>
                <tr>
                    <td>[Matéria]</td>
                    <td>[Título]</td>
                    <td>dd/MM/yyyy</td>
                    <td><input type="button" id="missão3" class="btnStatus btn" data-toggle="modal" data-target="#modalVerificar"></td>
                    <td><button class="btn btn-info">Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalVerificar" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Realmente deseja alterar o status da Missão?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>A missão só pode ser editada quando estiver <b>recuada</b> e só pode ser vista pelos alunos quando estiver <b>lançada</b></p>
                    <input id="idMissãoStatus" type="hidden">
                </div>
                <div class="modal-footer">
                    <!--Mandar comando de edição aqui-->
                    <button id="btnMudarStatus" type="button" class="btn btn-default" data-dismiss="modal">Sim</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>

    <script>
$(document).ready(function(){

  $(".btnStatus").click(function(){
      $("#idMissãoStatus").val("#"+this.id);
  });

  $("#btnMudarStatus").click(function() {
      var id = $("#idMissãoStatus").val();
    if($(id).hasClass("btn-success")){
        $(id).removeClass("btn-success");
        $(id).addClass("btn-danger");
        $(id).val("Recuado");
    }
    else{
        $(id).removeClass("btn-danger");
        $(id).addClass("btn-success");
        $(id).val("Lançado");
    }
  });

  $("#txtPesquisa").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tblMissoes tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });

});
    </script>

</body>
</html>